body {
   font-family: "Poppins", sans-serif;
   background-color: rgb(245, 245, 245);
   margin: 0;
   padding: 0;
}

img {
   color: rgb(245, 245, 245);
   background-color: rgb(245, 245, 245);
}

h3 {
   color: rgb(240, 96, 77);
   font-size: 20px;
   font-weight: 700;
   line-height: 32px;
   text-align: left;
}

.tudo {
   max-width: 1280px;
   margin: 0 auto;
   position: relative;
   padding: 0 20px;
}

.final {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   background-color: rgb(245, 245, 245);
}

.final-topo {
   display: flex;
   gap: 20px;
   justify-content: flex-end;
   width: 100%;
}

.espaço {
   margin: 10px;
   width: 297px;
   height: 297px;
}

h1 {
   font-size: 32px;
   font-weight: 700;
   line-height: 40px;
   text-align: left;
}

p {
   font-size: 14px;
   font-weight: 400;
   line-height: 23.8px;
   text-align: left;
}

.radius {
   border-radius: 100px;
   margin-left: 10px;
}

span {
   font-size: 14px;
   font-weight: 400;
   line-height: 23.8px;
   text-align: left;
}

.topo {
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: rgb(245, 245, 245);
}

.meio {
   display: flex;
   align-items: center;
   gap: 20px;
   background-color: rgb(245, 245, 245);
   padding: 20px;
   width: 100%;
}

.imatex {
   display: flex;
   align-items: center;
   width: 592px;
   gap: 32px;
}

.iconees {
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: 0;
   width: 280px;
}

.iguais {
   display: flex;
   margin-bottom: 10px;
   gap: 10px;
}
.textinhos {
max-width: 384px;


}
.fotos {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.fotos img {
   width: 297px;
   height: 297px;
   object-fit: cover;
   margin: 10px;
}

.content {
   background-color: white;
}

.w {
   border-radius: 100px;
   margin-right: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
   .final-topo {
      justify-content: right;
  }
  .tudo {
      padding: 0 10px;
  }
  .meio {
      flex-direction: column;
      align-items: flex-start; 
      height: auto;
  }
  .iconees {
      width: 100%;
      margin-top: 20px;
      align-items: flex-start;
  }
  .imatex {
      flex-direction: column;
      align-items: flex-start;
  }
  .imagem {
   display: flex;
     align-items: flex-start;
     
  }
  img.radius {
     margin-left: 0; 
  }
  h1, p {
      margin-left: -10px; 
      word-wrap: break-word; 
      width: calc(100% - 40px); 
  }
  .a, .b {
     display: none;
  }
}

@media (max-width: 480px) {
   .final-topo {
       flex-direction: column;
       align-items: center;
   }
   .final-topo span {
       display: none;
   }
}

@media (max-width: 360px) {
   .imatex {
       flex-direction: column;
   }
   .iconees {
       display: flex;
       flex-direction: column;
   }
   .meio {
       flex-direction: column;
       align-items: flex-start;
   }
   .meio img {
       width: 100%;
       height: auto;
       object-fit: cover;
       margin-bottom: 20px;
       align-self: flex-start;
   }
   .meio p {
       width: 100%;
       margin-bottom: 10px;
   }
   .fotos {
       flex-direction: column;
   }
   .fotos img {
       width: 328px;
       height: 328px;
       margin-bottom: 20px;
   }
}
